.video-container {
  overflow: hidden;
}

.video-container video {
  width: 100%;
  height: 800px;
  object-fit: cover;
}
.what-we-do h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.what-we-do {
  padding: 50px 100px 50px 100px;
}
.what-we-do p {
  font-size: medium;
  margin-bottom: 10px;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.card {
  height: 350px;
  width: 260px;
}

.card img {
  height: 250px;
  width: 100%;
}

.bo {
  font-weight: bold;
}
.side {
  border-left: 3px #e4ff30 solid;
  padding: 5px;
}

.tata-model {
  padding: 50px 100px 50px 100px;
  background-color: #212529;
  color: white;
}

.card2 {
  height: 380px;
  width: 320px;
}
.card2 img {
  height: 250px;
  width: 100%;
}
.side2 {
  padding: 5px;
}
.side2 p {
  margin-bottom: 8px;
}
.he {
  font-size: xxx-large;
  font-weight: bold;
}

.impact {
  padding: 50px 100px 50px 100px;
}
.card3 {
  height: 330px;
  width: 320px;
  background-color: #f8f8f9;
  padding: 25px;
}
.card3:hover {
  border: 2px solid black;
}
.card3 img {
  height: 241px;
  width: 100%;
}
.up1 {
  border-bottom: 3px #212529 solid;
  padding-bottom: 20px;
}
.down1 {
  padding-top: 20px;
}
.po {
  margin-bottom: 15px;
}
.se1 {
  border-left: #e4ff30 5px solid;
}
.se2 {
  border-left: #5b23ff 5px solid;
}
.se3 {
  border-left: #008bff 5px solid;
}
.se4 {
  border-left: #f375c2 5px solid;
}

.se1 p {
  padding-left: 15px;
}
.se2 p {
  padding-left: 15px;
}
.se3 p {
  padding-left: 15px;
}
.se4 p {
  padding-left: 15px;
}

.tataWay {
  padding: 50px 100px 50px 100px;
}
.card4 {
  height: 400px;
  width: 360px;
}
.card4 img {
  height: 250px;
  width: 100%;
}
.gap {
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: bold;
}

.read {
  background-color: #e4ff30;
  color: black;
  border-radius: 20px;
  width: 138px;
  padding: 5px;
}
.drop {
  margin-bottom: 10px;
}
.read:hover {
  background-color: black;
  color: #e4ff30;
  border: #e4ff30 2px solid;
  cursor: pointer;
}
.partners {
  padding: 50px 100px 50px 100px;
}
.partners {
  padding: 40px 0;
  background: #fff;
  overflow: hidden;
}

.he {
  text-align: center;
  margin-bottom: 30px;
}

.marquee {
  width: 100%;
  overflow: hidden;
}

.marquee-track {
  display: flex;
  gap: 60px;
  width: max-content;
  animation: scroll 20s linear infinite;
  list-style: none;
  padding: 0;
  margin: 0;
}

.marquee-track li img {
  height: 30px;
  width: auto;
  object-fit: contain;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.marquee-track li img:hover {
  filter: grayscale(0%);
  cursor: pointer;
}

/* animation */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
