* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Radikal", Arial, sans-serif;
  line-height: 1.4;
  font-weight: 300;
}

body {
  font-size: 16px;
}

#tataSrtive {
  height: 40px;
  width: auto;
}

.header {
  background: #003366;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
}

.header a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  padding: 6px 12px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.header a:hover {
  background-color: #e4ff30;
  color: black;
}

.main {
  padding: 20px 100px;
}

footer {
  background: #003366;
  color: white;
  padding: 15px;
  text-align: center;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 10px 20px;
    text-align: center;
  }

  .header nav {
    margin-top: 10px;
  }

  .header a {
    font-size: 14px;
    padding: 6px 10px;
  }

  .main {
    padding: 20px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }
}
