* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  font-weight: normal;
  font-size: 16px;
  font-family: "Radikal";
  color: var(--text-grey);
  line-height: 1.25;
  font-weight: 300;
}
#tataSrtive {
  height: 40px;
  width: 150px;
}
.header a:hover {
  background-color: #e4ff30;
  padding: 10px;
  border-radius: 20px;
  color: black;
}
.header nav a:hover {
  background-color: #e4ff30;
  padding: 10px;
  border-radius: 20px;
  color: black;
}
.header {
  background: #003366;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px 10px 100px;
  position: sticky;
  z-index: 1000;
  top: 0;
}
.header a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}
.header a:hover {
  text-decoration: underline;
  color: wheat;
}

footer {
  background: #003366;
  color: white;
  padding: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
}

.main {
  padding: 10px 100px 10px 100px;
}
